# This format is understood by iptables-restore. See `man iptables-restore`.

*mangle
:PREROUTING ACCEPT [0:0]
:INPUT ACCEPT [0:0]
:FORWARD ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
:POSTROUTING ACCEPT [0:0]
COMMIT

*nat
:PREROUTING ACCEPT [0:0]
# Route to the inetsim appliance:
{%- for ins in inetsim %}
{%- for ctx in contexts %}
{%-  if ctx.route_opt == "inetsim" %}
#-A PREROUTING -i {{ ctx.virt_bridge_name }} -d {{ eth_ip }} -p tcp -m tcp --sport 8000 -j RETURN
#-A PREROUTING -i {{ ctx.virt_bridge_name }} -d {{ eth_ip }} -p tcp -m tcp --dport 2042 -j RETURN
-A PREROUTING -i veth2_{{ ctx.virt_bridge_name[:4] }} -j DNAT --to-destination {{ ins.ip }}
{%- else %}
#-A PREROUTING -i veth2_{{ ctx.virt_bridge_name[:4] }} -d 8.8.8.8/32 -j DNAT --to-destination {{ dns_ip }}
{%- endif %}
{%- endfor %}
{%- endfor %}
:OUTPUT ACCEPT [0:0]
{%- for ins in inetsim %}
#-A OUTPUT -o {{ ins.iface_name }} -j DNAT --to-destination {{ ins.ip }}
{%- endfor %}
:POSTROUTING ACCEPT [0:0]
-A POSTROUTING -o eth0 -j SNAT --to-source {{ eth_ip }}
COMMIT

*filter
:INPUT ACCEPT [0:0]
:FORWARD ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
COMMIT
# nostrip