[kvm]
machines = {{ machine_names }}
interface = lo

{% for machine in machines %}
[{{ machine.name }}]
label = {{ machine.label }}
platform = {{ machine.platform }}
ip = {{ machine.ip }}
tags = {{ machine.tags }}
osprofile = {{ machine.volatility_profile }}
interface = {{ machine.interface }}
resultserver_ip = {{ machine.resultserver_ip }}

{% endfor %}
